<h1>MentorshipRequests#index</h1>
<p>Find me in app/views/mentorship_requests/index.html.erb</p>
<h1>Mentorship Requests</h1>

<table>
 <thead>
    <tr>
      <th>Mentee</th>
      <th>Mentor</th>
      <th>Status</th>
    </tr>
 </thead>
 <tbody>
    <% @mentorship_requests.each do |request| %>
      <tr>
        <td><%= request.mentee.name %></td>
        <td><%= request.mentor.name %></td>
        <td><%= request.status %></td>


      </tr>
    <% end %>
 </tbody>
</table>
