<% content_for :page_title do %>
 Mentores
<% end %>

<div class="mentors-containers">
    <div class="mentors">
    <% @mentors.each do |mentor| %>
        <div class="mentor">
          <h3><%= mentor.name %></h3>
          <p><%= mentor.area_of_study %></p>
          <p><%= mentor.current_year %></p>
          <!-- Add more mentor details here -->
        </div>
    <% end %>
    </div>
</div>

<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mx-2" %>
