<body class='log-in-body'>
  <% content_for :page_title do %>
    Log In
  <% end %>

  <div class="login-containers">

    <%= image_tag 'frontpagelogo.png', alt: "frontpagelogo", class: 'FPL' %>

    <h2>Encontra o teu Mentor :)</h2>
    <%= render "devise/shared/links" %>
  </div>
</body>
