/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  transition: all 0.3s;
  /* font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dce3f5;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 20px;
  z-index: 1000;
  background-image: url("nav_color.png");
  padding-right: 40px;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  max-height: 90%;
  max-width: 60px;
  aspect-ratio: 1;
  height: auto;
  border-radius: 20px;
}

.main-content {
  padding-top: 85px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - 30px);
}

.student {
  width: 40%;
  height: auto;
  border-radius: 50px;
  border-style: solid;
}

p,
h3 {
  padding-bottom: 0px;
}

.profile-h3-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto;
  gap: 10px;
}

.profile-h3-p .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}

.profile-h3-p p,
.profile-h3-p h3 {
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
}

h1 {
}

.login-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-containers {
  text-align: center;
  width: 100%;
}

.FPL {
  width: 200px;
  height: 270px;
  padding-top: 50px;
}

h2 {
  color: #397ec4;
}

.user_info_container {
  position: relative;
  padding-top: 10px;
}

.x_button {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  background: none;
}

.x_button:hover {
  background-color: inherit;
  color: inherit;
}

.x_button_image {
  height: 20px !important;
  width: 20px !important;
  padding: 10px;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
  box-sizing: content-box;
}

.form-with-x {
  display: flex;
  flex-direction: row;
}

.x_button_image_edit {
  height: 20px;
  width: 20px;
  font-size: 12px;

  top: -6px;
  right: 5px;
}

.matches-x-button {
  height: 20px !important;
  width: 20px !important;
}

.show_profile {
  height: 200px;
  width: 200px;
  border-radius: 30px;

  border-style: solid;
  border-color: #397ec4;
}

.page-title {
  color: white;
  border-radius: 10px;
}

.page-title {
  font-stretch: ultra-condensed;
}

.profile-pic,
.mentor-image {
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.profile-pic {
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 80px;
  border-style: solid;
  border-color: #397ec4;
  margin-bottom: 36px;
}
.profile-pic-show {
  height: 180px;
  width: 180px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100px;
  border-style: solid;
  border-color: #397ec4;
  margin-bottom: 0px;
}

.profile-page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-profile-button {
  border-style: none;
  background-color: transparent;
  padding-top: 10px;
  padding-right: 10px;
}

.bio-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

textarea {
  width: 280px;
  margin-top: 5px;
}

.photo-field {
  display: flex;
  flex-direction: column;
}

label {
  padding-right: 5px;
  font-weight: bold;
  padding-top: 10px;
}

.update-bio-button {
  margin-top: 10px;
}

input {
  display: flex;
  margin-top: 10px;
}

.user-show-p p {
  padding: 5px;
}

.log-in-body .main-content {
  padding-bottom: 0;
}

.log-in-body .log-in-email {
  padding-bottom: 5px;
  color: #397ec4;
}

.log-in-body .log-in-id {
  color: #397ec4;
}

button,
input[type="submit"] {
  background-color: #397ec4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: #3067a8;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="url"],
input[type="tel"],
input[type="search"],
textarea {
  background-color: #ffffff;
  color: black;
  border: 1px solid #397ec4;
  border-radius: 5px;
  padding: 5px 10px;
}

input[type="select"],
select {
  background-color: #397ec4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

.small {
  font-size: 12px;
}

.small-img {
  height: 35px !important;
  width: 35px !important;
}

.filter-form {
  margin-top: 15px;
}

.post {
  margin-bottom: 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.84);
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    font-size: 14px;
    background: darkturquoise;
    border-radius: 5px;
}

.post h1 {
  font-size: medium;
  text-decoration: underline;
}

.post img {
  border-style: solid;
  border-radius: 5px;
  /* -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75); */
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  /* box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75); */
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 3% 3% 10% 3%;
  max-width: 33vh;
}

#post-date {
  font-stretch: extra-condensed;
  font-weight: 900;
}

#posts-h1 {
  color: #397ec4;
    font-size: x-large;
    margin-top: 20%;
    text-align: center;

}

.new_post_logo {
  display: block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 20%;
  height: 11vh;
  background-image: url('new_post.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.area-of-study-filter-form {
  margin-top: 5%;
}
