/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #DCE3F5;
}

.header {
  display: flex;
  justify-content: space-between; /* Aligns children to the opposite sides */
  align-items: center; /* Centers children vertically */
  position: fixed; /* Fixes the header to the top of the viewport */
  top: 0;
  left: 0;
  right: 0; /* Ensures the header spans the full width */
  height: 100px; /* Adjust based on your design */
  padding: 0 20px; /* Adds some padding on the sides */
  background-color: #fff; /* Adjust the background color as needed */
  z-index: 1000; /* Ensures the header is above other content */
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-right: 40px;
  background-color: #397ec4;
}

.logo {
  width: 20%; /* Adjust the width as needed */
  height: auto;
  border-radius: 20px;
}

.main-content {
  padding-top: 105px;
  padding-bottom: 60px;
  padding-left:10px;
}

.student {
  width: 40%;
  height: auto;
  border-radius: 50px;
  border-style:solid;

}

p, h3{
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-bottom: 0px;
}

p{
  margin-top: 0;
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1{
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mentors-containers {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  padding: 20px;
  width: auto;
  height: max-content;
 }

.mentors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 300px;
}

 .mentor {
  flex-basis: calc(50% - 10px);
  margin: 5px;
  box-sizing: border-box;
  width: 40px;
  height: 120px;
  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  border-color: #397ec4;
 }
*/
 .login-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .login-containers {
  text-align: center;
  width: 100%;
 }


 .FPL {
  width:200px;
  height: 270px;
  padding-top: 50px;
 }


 h2 {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #397ec4;
}

.user_info_container {
  position: relative;
  padding-top: 10px;
}

.x_button {
  display: inline-block;
  padding: 10px;
  text-decoration: none; /* Remove underline from the link */
 }

.x_button_image {
  height: 36px; /* Adjust the height as needed */
  width: 36px; /* Adjust the width as needed */
  padding: 5px 10px; /* Adjust the padding as needed */
  font-size: 12px; /* Adjust the font size as needed */
  position: absolute;
  top: -6px;
  right: 5px;
  margin: 10px; /* Adjust as needed */
}

.info_button_image {
  height: 40px; /* Adjust the height as needed */
  width: 40px; /* Adjust the width as needed */
}

.show_profile{
  height: 200px;
  width: 200px;
  border-radius: 30px;

  border-style: solid;
  border-color: #397ec4;
}

.log-in_logo{
  height: auto;
  width: auto;
  background-color: transparent;
}

.button_to { /*this is the login button wrap*/
  background: none;
  border: none;
  padding: 0;
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the image */
 }

 .button_to img { /*this is the actual image*/
  width: 100%; /* Adjust as needed */
  height: 60px; /* Adjust as needed */

 }

 .field label {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px; /* Adjust the font size as needed */
  color: #397ec4; /* Adjust the font color as needed */
  font-weight: bold;
}

.page-title {
  color: white;
  border-radius: 10px;
}
