table {
  border-style: solid;
  border-radius: 10px;
  border-color: #397ec4;
}

.mentors_table {
  width: 100%;
  margin-bottom: 2rem;
}

.mentors_table .request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #397ec4;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);

}

.mentors_table div {
  font-size: 16px;
  padding: 5px;
}

.mentors_table .name {
  flex-grow: 2;
}

.mentors_table .others {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
}

.mentors_table .others * {
  display: inline-flex;
}
.status-icon {
  height: 25px;
  width: 25px;
}

.info_button_image_matches {
  height: 30px;
  width: 30px;
  padding-left: 6px;
}

.request {
  display: flex;
  align-items: center;
}

.user-img img{
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  overflow: hidden;
}

.circle-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
