table {
  border-style: solid;
  border-radius: 10px;
  border-color: #397ec4;
}

.mentors_table_container {
  max-width: 800px; /* Adjust this value based on your design needs */
  margin: auto;
  display: block;
  padding-bottom: 10px;
}

.mentors_table table {
  width: 100%;
  border-width: thick;
}

td, .table-row {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 5px;
  text-align: center;

}

.status-icon {
  height: 30px;
  width: 30px;
}

.info_button_image_matches {
  height: 30px;
  width: 30px;
  padding-left: 6px;
}

  /*.cancel_mtr_button {
  background-color: transparent;
  border-style: none;
}
/*
.cancel_mtr_button input[type="submit"] {
  background-color: transparent;
  border-style: none;
 }
