.student1 {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-color: #397ec4;
}

.mentors-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: max-content;
}

.mentors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.mentor {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.mentor-image-show {
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.mentor-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.mentor-subinfo {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.info_button_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

@media (min-width: 768px) {
  .mentors {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .mentors {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.mentor-name {
  font-size: 0.95em
  ;
  font-weight: bold;
  margin: 0;
}

.mentor-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mentor-info ul li {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #666;
}

.contact-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.contact-button:hover {
  background-color: #0056b3;
}
